body { 
font-family: Arial, sans-serif; 
background-color: #8b841c; 
color: #000000; 
line-height: 1.6; 
} 
h1 { 
color: #000000; /* Um azul Django */ 
} 
ul { 
background-color: #961464; 
border: 1px solid #ddd; 
padding: 15px; 
} 
li { 
list-style-type: square; 
}